/* Root variables are for light mode (default) and general stuff */
:root {
    --navbar-height: 45px;
    --mode-transform-duration: 2.5s;

    /* raw colors */
    --light-grey:  #f8f9fa;
    --medium-grey: #e5e5e5;
    --dark-grey: #C8C8C8;
    --light-black: #182635;
    --medium-black: #28292b;
    --dark-black: #0e141b;
    --dark-purple: #6732C5;
    --medium-purple: #8f73be;
    --light-purple: #a392c0;

    /* item colors */
    --background-dark: var(--light-grey);
    --background-light: white;
    --text-normal: black;
    --text-vibrant: var(--medium-purple);
    --footer-color: white;
}

/* In dark mode, some variable have different values: */
body.dark {
    --background-dark: var(--dark-black);
    --background-light: var(--medium-black);
    --text-vibrant: var(--light-purple);
    --text-normal: white;
    --footer-color: var(--light-black);

}


body {
    overflow-x: hidden;
    font-family: 'Roboto' !important;
    background-color: var(--background-dark) !important;
    transition: all var(--mode-transform-duration) ease;
}

/* ---------- Titles ----------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300 !important;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
  /* scroll margin allows to add a bit of space around the title we're targeting with the table of content */
  scroll-margin: 100px;
}

h2 {
    font-size: 22px !important;
    width: 100%;
    border-bottom: 1px solid var(--medium-grey);
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
}

p {
    line-height: 1.75 !important;
    font-family: 'Roboto' !important;
    color: var(--text-normal);
    transition: all var(--mode-transform-duration) ease;
}
span {
    color: var(--text-normal);
    transition: all var(--mode-transform-duration) ease;
}


/* Reduce the content width on big screen. I like it when it looks a bit more like newspaper */
@media (min-width: 992px){
    .container {
        padding-left: 150px  !important;
        padding-right: 150px  !important;
    }
}


a {
    color: var(--python-gallery) !important;
}

a:hover {
    color: #251667 !important;
}

/* ---------- Button ----------------- */
.btn {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
    border-color: var(--python-gallery) !important;
    color: var(--python-gallery) !important;
    border-width: 2px !important;
    background-color: transparent !important;
    margin: 3px !important;
  }

  .btn-xl {
    font-size: 18px !important;
    padding: 20px 40px !important;
  }

  .btn:active, .btn:focus, .btn:hover {
    background-color: var(--python-gallery) !important;
    border-color: var(--python-gallery) !important;
    color: white !important;
  }

.sectionTitle {
    font-size: 20px;
}


/* ---------- pills ----------------- */
.data-pill {
    border-radius: 3px;
    margin-right: 4px;
    color: black ;
    padding: 4px;
    cursor: pointer;
    background-image: linear-gradient(50deg, rgba(1, 146, 222, 0.05), rgba(124, 69, 217, 0.05));
}

.data-pill:hover {
    background-image: linear-gradient(50deg, rgba(1, 146, 222, 0.2), rgba(124, 69, 217, 0.2));
}

.data-pill.selected {
    background-image: linear-gradient(50deg, rgba(1, 146, 222, 0.5), rgba(124, 69, 217, 0.5));
}
