.question-card-title {
    font-size:25px;
    background: -webkit-linear-gradient(red, blue);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.question-card-container {
    border: solid;
    border-width: .1px;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
}

.question-card-container:hover {
    background-color: var(--text-vibrant)
}

