.slider-with-title-title {
    font-size: 15px;
    margin-bottom: -0px;
}

.slider-with-title-unit {
    font-size: 14px;
    margin-bottom: 0px;
    color: var(--dark-grey);
    margin-left: 4px;
}

.slider-with-title-text-input {
    width: 100px;
    margin-left: 10px;
}

.slider-with-title-checkbox {
    margin-left: 10px;
}

.slider-with-title-checkbox .custom-checkbox .custom-control-label {
    padding-top: 3px;
    font-size: 12px;
}


