.slider-with-title-title {
    font-size: 15px;
    margin-bottom: -0px;
}

.slider-with-title-unit {
    font-size: 14px;
    margin-bottom: 0px;
    color: var(--dark-grey);
    margin-left: 4px;
}

