.navbar {
    justify-content: space-between !important;
    align-items: center !important;
    background-color: var(--background-dark) !important;
    transition: all var(--mode-transform-duration) ease;
    height: var(--navbar-height)
}

#basic-navbar-nav {
    flex-grow: inherit !important;
}

/* link to homepage on the topleft */
.navbar-brand {
    display: flex !important;
    align-items: flex-end !important;
    color: var(--text-vibrant) !important;
    transition: all var(--mode-transform-duration) ease;
    font-size: 15px !important;
}

.navbar-collapse {
    background-color: var(--background-dark) !important;
    transition: all var(--mode-transform-duration) ease;
    text-align: right !important;
}


/* Main link in the navbar */
.nav-link {
    text-transform: uppercase!important;
    color: var(--text-normal) !important;
    transition: all var(--mode-transform-duration) ease;
    font-family: 'Montserrat' !important;
    font-size: 13px !important;
    border-width: 1px !important;
    border-bottom: solid;
    border-color: transparent;
}
.nav-link:hover {
    color: var(--text-vibrant) !important;
    border-bottom: solid var(--text-vibrant);
    transition: all var(--mode-transform-duration) ease;
    border-width: 1px;
}



